/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
 }
 body {
	font-size: 16px;
	color: #fff;
}
 img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #5474FD;
    position: absolute;
    top: 733px;
    width:100%;
}
.header__links {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 410px;
    padding: 30px 0px;
}

.header__link {
    font-family: 'Aleo';
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 24px;
}
 

 .first-section__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
 }

 .first-section{
    background-image: url(../assets/background-pic1.svg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.first-section__article{
    padding-top: 250px;
}

.first-section__title{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.first-section__paragraph{
    padding-top: 12px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}

.first-section__form{
    display: flex;
}
.first-section__input{
    width: 500px;
    margin-top: 48px;
    padding-left: 55px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 200px;
    border:1px solid white;
}
.first-section__button {
    display: flex;
    font-family: 'Aleo';
    flex-direction:row ;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    width: 153px;
    height: 63px;
    float: right;
    background-color: #5474FD;
    color: white;
    border: 2px solid white;
    margin-bottom: 200px;
    text-transform: uppercase;

}
.first-section__btn{
    margin-right: 10px;
}

.first-section__input::placeholder {

	font-family: 'Josefin Sans';
	font-size: 14px;
	letter-spacing: 0.2em;
	color: #999999;
	text-transform: capitalize;
}
.scroll__section {
	position: absolute;
	left: 50%;
    padding-top: 288px;
	margin-left: -47px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
    text-decoration: none;
}
.scroll__text {
	font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
    list-style: none;
}
.second-section{
    background-image:url(../assets/background-pic2.svg) ;
    background-color: #333333;
}
.second-section__article{
    display: flex;
    padding-top: 10px;
}

.second-section__majte{
    margin-right: 100px;
    padding-top: 204px;
}
.second-section__button {
    background-color: 
    #496BFE;
    display: inline-block;
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 16px;
    padding-left: 38px;
    color:black;
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 45px;
    margin-bottom: 131px;
    opacity: 0.8;
    font-family: 'Aleo';

}
.second-section__djathte {
    position: relative;
    padding-top: 118px;
}
.second-section__title{
    
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
}
.second-section__paragraph{
    padding-top: 50px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;

}

.foto2 {
    margin-left: 100px;
    margin-right: -40px;
    margin-top: 10px;
}


.third-section{
    background-color: #333333;
    padding: 100px 0;
}

.third-section__article{
    background: url(../assets/lines.svg) no-repeat;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.first__item{
    display: flex;
	flex-direction: column;
	align-items: center;
}
.item__icon {
	margin-bottom: 20px;
}
.item__desc {
	font-family: 'Aleo', serif;
	font-size: 36px;
	color: #e8e8e8;
}

.fourth-section{
    background-image: url(../assets/fourth-section.png) ;
    size: cover;
    background-repeat: no-repeat;
    padding: 226px  900px 100px 330px ;

}

.fourth-section__article{
    padding: 50px 30px;
    width: 543px;
    height: 374px;
    background-color:#232323 ;
    opacity: 0.9;
    color: #E8E8E8;
}

.fourth-section__title{
    margin-top: 30px;
    padding-bottom: 23px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;

}

.fourth-section__title2{
    padding-bottom: 13px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.fourth-section__text{
    padding-bottom: 36px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    
}
.fourth-section__button{
    font-family: 'Aleo';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 49px;
    display: flex;
    flex-direction:row ;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 264px;
    margin-left: 28px;
    width: 228px;
    height: 63px;
    float: right;
    background-color: #5474FD;

}

.fifth-section{
    background-image: url(../assets/fifth-section.png) ;
    size: cover;
    background-repeat: no-repeat;
    padding: 227px 329px 99px 898px ;

}

.fifth-section__article{
    padding: 50px 30px;
    width: 543px;
    height: 374px;
    background-color:#232323 ;
    opacity: 0.9;
    color: #E8E8E8;
}

.fifth-section__title{
    margin-top: 30px;
    padding-bottom: 23px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;

}

.fifth-section__title2{
    padding-bottom: 13px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.fifth-section__text{
    padding-bottom: 36px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    
}
.fifth-section__button{
    font-family: 'Aleo';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 49px;
    display: flex;
    flex-direction:row ;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 264px;
    margin-left: 28px;
    width: 228px;
    height: 63px;
    float: right;
    background-color: #5474FD;

}

.sixth-section{
    background-image: url(../assets/sixth-section1.png);
   
    padding: 114px  0 200px;
}

.sixth-section__title{
    font-family: 'Aleo', serif;
	font-size: 36px;
	text-align: center;
	text-transform: capitalize;	
}

.sixth-section__box {
	margin-top: 94px;
	min-height: 285px;
	background-color: #333333;
	opacity: 0.9;
    
}
.sixth-section__img{
    float: left;
    background-image: url(../assets/sixth-section.png);
    height:284px;
    width: 445px;
    
}

.sixth-section__info{
 
}

.sixth-section__title2
{
    padding-top: 49px;
    padding-left: 62px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FEFEFE;
    display: flex;
    align-items: center;
}

.sixth-section__desc{
    padding-left: 62px;
    padding-top: 8px;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: center;
 }

 footer{
    background-color: #232323;
    text-align: center;
    padding: 120px 0 50px;
 }

 .footer__title{
    margin-top: 15px;
	letter-spacing: 0.1em;
	text-transform: capitalize;	
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: #FFFFFF;
 }
 .footer__paragraph {
	font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
     color: #FFFFFF;

}

.footer__icons {
	margin-top: 25px;
}

.footer__link {
	margin-right: 25px;
	color: #fff;
	transition: 0s;
}

.footer__link:last-child {
	margin-right: 0;
}

@media (min-width:768px) and (max-width:1024px) {
    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
      }

    .fourth-section__article{
        padding: 0px;
        
    }
    }
